.home-page {
  border-right: 1px solid #E6ECF0;
  height: 100%;
}

.home-page-photo {
  height: 3.8em;
  width: 3.8em;
  max-width: 3.8em;
  border-radius: 50%;
  object-fit: cover;
  background-color: #000000d7;
  margin-left: 2em;
}

.home-page .header {
  padding: 1em 1.5em;
}

.header {
  display: flex;
  position: fixed;
  background-color: #fff;
  z-index: 1;
  width: 42.8em;
  height: 4em;
  border-bottom: 1px solid #E6ECF0;
  border-right: 1px solid #E6ECF0;
}

.header span {
  font-weight: 700;
  height: auto;
  font-size: 1.5em;
}

.home-page-content {
  position: relative;
  top: 6em;
}

#tweetContainer {
  display: grid;
  grid-template-columns: 0.3fr 1.5fr;
  height: auto;
  border-bottom: 10px solid #E6ECF0;
}

.home-tweet-input {
  width: 95%;
  border: none;
  max-height: 10em;
  outline: none;
  resize: none;
  font-size: 1.2em;
  overflow-y: auto;
}

.home-tweet-input::placeholder {
  color: #969BA7;
  font-size: 1.2em;
}

#tweetContainer strong {
  color: #1DA1F2;
  margin-left: 1em;
}

#addPhoto {
  display: none;
}

.add-tweet-button:hover {
  background-color: #2d91cf;
}

.tweet-options {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  padding: 0.5em 1em 0.5em 0;
  border-top: 1px solid  #E6ECF0;
  font-size: 1.2em;
}

.tweet-options span {
  font-size: 1.2em;
  padding: 0.5em;
  border-radius: 1.5em;
  color: #1DA1F2;
  cursor: pointer;
}

.add-tweet-button {
  font-size: 0.89em;
  width: 5em;
  height: 2.5em;
  border: unset;
  border-radius: 1.5em;
  font-weight: bold;
  color: #fff;
  background-color: #8ED0F9;
  margin-right: 0.5em;
}

.comment-link {
  color: #000;
  text-decoration: none;
}

.comment-link:hover {
  color: #000;
  text-decoration: none;
}

.tweet-item .tweet-content-item {
  grid-template-columns: 0.37fr 1.8fr;
  border-bottom: 1px solid #E6ECF0;
  border-top: none;
}

.tweet-item .tweet-info i {
  font-size: 1.5em;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 32.2em;
    border-left: 1px solid #E6ECF0;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 42.2em;
  }

  .home-page {
    border-right: 1px solid #E6ECF0;
    height: 100vh;
  }
}

@media screen and (max-width: 425px) {
  .header {
    width: 100%;
    top: 0;
  }

  #tweetContainer {
    grid-template-columns: 0.4fr 1.5fr;
  }
}

@media screen and (max-width: 375px) {
  #tweetContainer {
    grid-template-columns: 0.5fr 1.5fr;
  }

  .tweet-options {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 330px) {
  #tweetContainer {
    grid-template-columns: 0.6fr 1.5fr;
  }

  .tweet-options > div span:last-child {
    display: none;
  }
}
