.home-page {
  border-right: 1px solid #E6ECF0;
  height: 100%;
}

.home-page-photo {
  height: 3.8em;
  width: 3.8em;
  max-width: 3.8em;
  border-radius: 50%;
  object-fit: cover;
  background-color: #000000d7;
  margin-left: 2em;
}

.home-page .header {
  padding: 1em 1.5em;
}

.header {
  display: flex;
  position: fixed;
  background-color: #fff;
  z-index: 1;
  width: 42.6em;
  height: 4em;
  border-bottom: 1px solid #E6ECF0;
  border-right: 1px solid #E6ECF0;
}

.header span {
  font-weight: 700;
  height: auto;
  font-size: 1.5em;
}

.home-page-content {
  position: relative;
  top: 6em;
  padding-bottom: 8em;
}

#tweetContainer {
  display: grid;
  grid-template-columns: 0.3fr 1.5fr;
  height: auto;
  border-bottom: 10px solid #E6ECF0;
}

.input-box {
  width: 95%;
  border: none;
  max-height: 10em;
  outline: none;
  resize: none;
  font-size: 1.2em;
  overflow-y: auto;
}

.input-box::placeholder {
  color: #969BA7;
  font-size: 1.2em;
}

#tweetContainer strong {
  color: #1DA1F2;
  margin-left: 1em;
}

#addPhoto {
  display: none;
}

.tweet-button:hover {
  background-color: #2d91cf;
}

.tweet-options {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  padding: 0.5em 1em 0.5em 0;
  border-top: 1px solid  #E6ECF0;
  font-size: 1.2em;
}

.tweet-options span {
  font-size: 1.2em;
  padding: 0.5em;
  border-radius: 1.5em;
  color: #1DA1F2;
  cursor: pointer;
}

.tweet-button {
  font-size: 0.89em;
  width: 5em;
  height: 2.5em;
  border: unset;
  border-radius: 1.5em;
  font-weight: bold;
  color: #fff;
  background-color: #8ED0F9;
  margin-right: 0.5em;
  pointer-events: none;
}

.enable {
  pointer-events: auto;
  background-color: #1DA1F2;
}

.tweet-item .tweet-content-item {
  grid-template-columns: 0.37fr 1.8fr;
  border-bottom: 1px solid #E6ECF0;
  border-top: none;
}

.tweet-item .tweet-info i {
  font-size: 1.5em;
}

.home-page .header button {
  display: none;
}

.tweet-dropdown {
  background-color: #fff;
  position: absolute;
  left: 50%;
  width: 14em;
  height: auto;
  z-index: 2;
  padding: 0.8em 0;
  border-radius: 0.5em;
  box-shadow: 0.2em 0.2em 0.5em 0.5em #e4e7eaca;
}

.tweet-dropdown button {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 3.5em;
  font-size: 1.1em;
  font-weight: 600;
}

.tweet-dropdown i {
  vertical-align: middle;
  font-size: 1.4em;
  padding: 0 0.5em;
}

.tweet-dropdown button:first-child {
  color: #E0245E;
}

.tweet-dropdown button:nth-child(2) {
  color: #0bd4a2;
}

.tweet-dropdown button:hover {
  background-color: #F7F7F7;
}

.delete-modal {
  position: fixed;
  top: 15em;
  left: 35%;
  width: 25%;
  padding: 1em 2em;
  height: 16em;
  border-radius: 0.8em;
  text-align: center;
  background-color: #fff;
  z-index: 2;
}

.delete-modal button {
  margin: 1em 0.5em;
  width: 8em;
  height: 2.5em;
  border: unset;
  border-radius: 1.5em;
  font-weight: 700;
}

.delete-modal p {
  font-size: 1.2em;
}

.confirm-button {
  color: #fff;
  background: #e0245e;
}

.cancel-button {
  background: #EBEEF0;
}

.edit-tweet-modal {
  background-color: #ffffff;
  position: fixed;
  top: 5em;
  left: 28%;
  width: 43%;
  height: fit-content;
  border-radius: 1em;
  z-index: 2;
}

#editTweetBox {
  height: 10em;
  max-height: 8em;
  margin-top: 0.5em;
}

.edit-tweet-modal #tweetContainer {
  border-bottom: none;
  padding-top: 1em;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 32.2em;
    border-left: 1px solid #E6ECF0;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 42.2em;
  }

  .home-page {
    border-right: 1px solid #E6ECF0;
    height: 100vh;
  }

  .delete-modal {
    left: 15%;
    width: auto;
    height: auto;
  }

  .edit-tweet-modal {
    width: 70%;
    left: 15%;
  }
}

@media screen and (max-width: 425px) {
  .header {
    width: 100%;
    top: 0;
  }

  .home-page .header button {
    display: inline;
    width: 3em;
    font-size: 1.3em;
  }

  #tweetContainer {
    grid-template-columns: 0.35fr 1.5fr;
  }

  .tweet-item .tweet-content-item {
    grid-template-columns: 0.5fr 1.8fr;
  }

  .home-page-photo {
    margin-left: 1.3em;
  }

  .delete-modal {
    left: 0;
    top: 5em;
    border-radius: 0;
  }

  .edit-tweet-modal {
    width: 100%;
    left: 0;
    border-radius: 0;
  }
}

@media screen and (max-width: 375px) {
  #tweetContainer {
    grid-template-columns: 0.5fr 1.5fr;
  }

  .tweet-options {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 330px) {
  #tweetContainer {
    grid-template-columns: 0.6fr 1.5fr;
  }

  .tweet-options > div span:last-child {
    display: none;
  }
}
