#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  border-radius: 2em;
  margin-top: 0.2em;
  cursor: pointer;
}

#logo > i {
  color: #1DA1F2;
  font-size: 2.5em;
}

.left-nav-content {
  position: fixed;
  left: 3em;
  height: 100%;
  width: 21.35%;
  border-right: 1px solid #E6ECF0;
}

button {
  border: unset;
  background: transparent;
  outline: none;
}

#logo:hover,
.user-info:hover {
  background-color: #E8F5FE;
}

#active {
  color: #1DA1F2;
  text-decoration: none;
}

.nav-button {
  display: block;
  padding: 0.5em 1.5em 0.5em 1em;
  width: fit-content;
  border-radius: 2em;
  font-size: 1.3em;
  font-weight: 700;
  color: #000;
}

.nav-button:hover {
  background-color: #E8F5FE;
  color: #1DA1F2;
  text-decoration: none;
}

.dropdown-button:hover {
  background-color: #F7F9FA;
  color: #000;
  text-decoration: none;
}

.nav-button i {
  margin-right: 1em;
  vertical-align: bottom;
  font-size: 1.2em;
}

.left-nav-photo {
  width: 3em;
  height: 3em;
  max-width: 3em;
  border-radius: 50%;
  object-fit: cover;
  background-color: #000000d7;
  margin-right: 0.5em;
}

#tweetModalButton {
  width: 80%;
  height: 3em;
  color: #fff;
  background-color: #1DA1F2;
  margin-top: 0.5em;
  font-size: 1.1em;
  border-radius: 1.5em;
  font-weight: 600;
}

.tweet-modal-header > button:hover {
  background-color: #E8F5FE;
}

#tweetModalButton:hover {
  background-color: #1a8acf;
}

.user-info {
  position: absolute;
  bottom: 2em;
  cursor: pointer;
  padding: 0.5em 1.5em 0.5em 1em;
  width: 80%;
  border-radius: 2em;
  font-weight: 700;
}

.tweet-modal-button {
  display: none;
}

.tweet-modal-button i {
  vertical-align: middle;
}

.tweet-modal {
  background-color: #ffffff;
  position: fixed;
  top: 3em;
  left: 28%;
  width: 43%;
  height: fit-content;
  border-radius: 1em;
  z-index: 2;
}

.tweet-modal-header {
  border-bottom: 1px solid  #E6ECF0;
  height: 4em;
}

.tweet-modal-header > button {
  border: unset;
  font-size: 1.5em;
  color: #1da1f2;
  margin: 0.3em 0.8em;
  padding: 0.3em 0.5em;
  border-radius: 1em;
  background-color: #fff;
}

.tweet-modal #tweetContainer {
  border-bottom: none;
  padding-top: 1em;
}

.tweet-modal .input-box {
  height: 7em;
  margin-top: 0.5em;
}

.dropdown-content {
  position: fixed;
  bottom: 18em;
  left: 3em;
  background-color: #ffff;
  width: 16em;
  height: auto;
  z-index: 2;
  border-radius: 0.5em;
  padding: 1em 0;
  box-shadow: 0px 8px 16px 0px #00000033;
}

.dropdown-button {
  display: block;
  text-align: left;
  padding: 1em;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1.1em;
  color: #000;
}

.dropdown-button i {
  font-size: 1.2em;
  vertical-align: middle;
  margin-right: 1em;
}

.dropdown-button:nth-child(4) {
  border-bottom: 1px solid #E6ECF0;
  border-radius: 0;
}

.dropdown-button:nth-child(2) i {
  margin-right: 1.5em;
}

.display-modal {
  background-color: #fff;
  position: fixed;
  top: 5%;
  left: 25%;
  width: fit-content;
  height: 89%;
  z-index: 2;
  border-radius: 0.8em;
}

.display-modal .header {
  width: 42.3em;
  border-top-left-radius: 0.8em;
  border-top-right-radius: 0.8em;
}

.display-modal .header span {
  margin: auto;
}

.display-modal .section-content {
  width: 42.3em;
  height: auto;
  max-height: 35em;
  overflow-y: scroll;
  padding-bottom: 3em;
}

.display-modal .more-options h3 {
  font-size: 1em;
  color: #6E8192;
}

.save-button {
  font-size: 1.05em;
  display: block;
  margin: 1em auto;
  width: 5em;
  height: 2.5em;
  border: unset;
  border-radius: 1.5em;
  font-weight: bold;
  color: #fff;
  background-color: #1DA1F2;
}

.save-button:hover {
  background-color: #2d91cf;
}

@media screen and (max-width: 768px) {
  .nav-button span,
  .user-info span {
    display: none;
  }

  #tweetModalButton {
    display: none;
  }

  .tweet-modal-button {
    display: block;
    color: #fff;
    font-weight: 600;
    background-color: #1DA1F2;
    border-radius: 1.5em;
    width: 3em;
    height: 3em;
    font-size: 1.2em;
    margin-top: 0.5em;
  }

  .left-nav-content {
    width: 10%;
  }

  .nav-button {
    padding: 0.5em 0.8em 0.8em 0.7em;
  }

  .nav-button i {
    margin-right: 0;
    vertical-align: middle;
  }

  .more {
    padding: 0.6em 1em 0.8em;
  }

  .user-info {
    padding: 0;
    width: fit-content;
  }

  .user-info:hover {
    background-color: transparent
  }

  .tweet-modal {
    left: 12%;
    width: 75%;
  }

  .tweet-modal .input-box {
    font-size: 1.4em;
  }

  .nav-button:nth-child(6),
  .nav-button:nth-child(7) {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .left-nav-content {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 5em;
    border-right: none;
    border-top: 1px solid #E6ECF0;
    background-color: #fff;
    box-shadow: 0.3em 0.5em 0.3em 0.3em #000;
  }

  .tweet-modal-button {
    display: block;
    position: absolute;
    bottom: 4em;
    right: 1em;
    font-size: 1.6em;
  }

  .tweet-modal-button i {
    font-size: 1.2em;
  }

  .profile,
  .more,
  .user-info {
    display: none;
  }

  .nav-button:hover {
    background-color: transparent;
  }

  .nav-button {
    padding: 0;
    height: 2em;
    margin: auto 0;
  }

  #logo {
    display: none;
  }

  .mobile-left-nav {
    position: fixed;
    top: 0;
    width: 65%;
    z-index: 2;
    height: 100%;
    background-color: #fff;
    animation: slideIn 0.4s ease-in-out;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-30%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .mobile-left-nav .headline {
    position: relative;
    width: 100%;
  }

  #mobileLeftNav {
    height: 100%;
    max-height: 85%;
    overflow-y: auto;
  }

  .user-profile {
    padding: 1em;
    font-size: 1.1em;
  }

  .user-profile > div {
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
  }

  .dropdown-button i {
    font-size: 1.2em;
    vertical-align: middle;
    margin: 0 1em;
  }

  .dropdown-button:nth-child(2n+7) {
    border-bottom: 1px solid #E6ECF0;
    border-radius: 0;
  }

  .dropdown-button:nth-child(2) i {
    margin-right: 1em;
  }

  .dropdown-button:nth-child(5) i {
    margin-right: 1.2em;
  }

  .dropdown-button:nth-child(6) i {
    margin-right: 1.5em;
  }

  .dropdown-button:nth-child(4) {
    border-bottom: none;
  }
}

@media screen and (max-width: 375px) {
  .mobile-left-nav {
    width: 75%;
  }
}

@media screen and (max-width: 322px) {
  .mobile-left-nav {
    width: 85%;
  }
}
