.notification-page {
  border-right: 1px solid #E6ECF0;
  height: 100%;
}

#header {
  position: fixed;
  background-color: #fff;
  z-index: 1;
  width: 42.8em;
  border-bottom: 1px solid #E6ECF0;
  border-right: 1px solid #E6ECF0;
  height: 7em;
}

#header span {
  font-weight: 700;
  height: auto;
  font-size: 1.5em;
  margin-left: 1em;
}

#header > div {
  display: flex;
  justify-content: space-between;
  padding: 1em 0 0;
}

#header i {
  color: #1DA1F2;
  margin-right: 0.5em;
}

#pageNavButtons > button {
  font-size: 1.1em;
  font-weight: 700;
  flex: 1;
  padding-bottom: 1em;
}

.current {
  color: #1DA1F2;
  border-bottom: 1px solid #1DA1F2;
}

.notification-page-content {
  width: 42.7em;
  margin: 4em 0 0;
}

.notification-page-content > div {
  border-top: 1px solid #E6ECF0;
}

.notification-page-content img {
  height: 3.8em;
  width: 3.8em;
  max-width: 3.8em;
  border-radius: 50%;
  object-fit: cover;
  background-color: #000000d7;
  margin-left: 2em;
}