.notification-page {
  border-right: 1px solid #E6ECF0;
  height: 100%;
}

#header {
  position: fixed;
  background-color: #fff;
  z-index: 1;
  width: 42.6em;
  border-bottom: 1px solid #E6ECF0;
  border-right: 1px solid #E6ECF0;
  height: 7.2em;
}

#header span {
  font-weight: 700;
  height: auto;
  font-size: 1.5em;
  margin-left: 1em;
}

#header > div {
  display: flex;
  justify-content: space-between;
  padding: 1em 0 0;
}

#header i {
  color: #1DA1F2;
  margin-right: 0.5em;
}

#pageNavButtons > button {
  font-size: 1.1em;
  font-weight: 700;
  flex: 1;
  padding-bottom: 1em;
}

.current {
  color: #1DA1F2;
  border-bottom: 0.15em solid #1DA1F2;
}

.notification-page-content {
  position: relative;
  top: 7.2em;
  border-bottom: 1px solid #E6ECF0;
}

.notification-page-content > div:hover {
  background-color: #EBEEF0;
}

.notification-page-content > div {
  display: grid;
  grid-template-columns: 0.2fr 1.5fr;
  height: auto;
  padding: 0.5em 1em 0 1em;
  border-top: 1px solid #E6ECF0;
  font-size: 1.1em;
  cursor: pointer;
}

.notification-page-content img {
  height: 2em;
  width: 2em;
  max-width: 2em;
  border-radius: 50%;
  object-fit: cover;
  background-color: #000000d7;
  margin-bottom: 0.5em;
}

.notification-page-content i {
  font-size: 1.6em;
  margin: 0.2em 0 0 1.2em;
}

.heart-icon {
  color: #E0245E;
}

.symbol {
  color: #1DA1F2;
}

.fa-star {
  color: #794BC4;
}

@media screen and (max-width: 1024px) {
  #header {
    width: 32.2em;
    border-left: 1px solid #E6ECF0;
  }

  .notification-page-content > div {
    grid-template-columns: 0.3fr 1.8fr;
  }
}

@media screen and (max-width: 768px) {
  #header {
    width: 42.3em;
  }

  .notification-page-content {
    height: 100%;
    border-right: 1px solid #E6ECF0;
    padding-bottom: 1em;
  }

  .notification-page {
    border-right: none;
  }
}

@media screen and (max-width: 425px) {
  #header {
    width: 100%;
  }

  .notification-page-content > div:last-child {
    margin-bottom: 10em;
    border-bottom: 1px solid #E6ECF0;
  }

  .notification-page-content > div {
    grid-template-columns: 0.3fr 1.4fr;
  }
}

@media screen and (max-width: 330px) {
  .notification-page-content > div {
    grid-template-columns: 0.3fr 1fr;
  }
}
