.settings-page {
  position: absolute;
  left: 24.5%;
  width: 74%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.settings {
  position: relative;
  top: 4em;
}

.settings-page .headline {
  width: 28.4em;
}

.settings > button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 1.5em;
  font-size: 1.1em;
  width: 100%;
  border-bottom: 1px solid #E6ECF0;
}

.settings i {
  font-size: 1.8em;
  color: #5B7083;
}

.settings-page button:hover {
  background-color: #F7F9FA;
}

.current-section {
  border-right: 0.15em solid #1DA1F2;
  background-color: #F7F9FA;
}

.section span {
  padding: 0.5em 1em;
}

.section-content {
  position: relative;
  top: 4em;
  border-right: 1px solid #E6ECF0;
  height: 100%;
}

.section-content > div {
  padding: 1em 2em;
  border-bottom: 1px solid #E6ECF0;
}

.more-options > div {
  padding: 1em 2em;
  border-bottom: 1px solid #E6ECF0;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 1.5em;
  font-size: 1.1em;
  width: 100%;
  border-bottom: 1px solid #EBEEF0;
  text-align: left;
}

.button > div {
  flex: 0.88;
}

.button p {
  margin: 0;
}

.button > p {
  color: #5B7083;
  font-size: 1.3em;
}

.section-content span {
  font-size: 0.9em;
  color: #5B7083;
}

.button > i {
  font-size: 1.8em;
  color: #5B7083;
}

.section-content h3 {
  font-weight: 700;
  font-size: 1.5em;
  margin: 0;
}

.section-content section {
  border-bottom: 0.8em solid #F7F9FA;
}

.section-content section:last-child {
  border-bottom: none;
  padding-bottom: 5em;
}

.more-options p {
  color: #000;
  font-size: 1em;
}

.color-options {
  display: flex;
  justify-content: space-between;
}

.circle {
  display: block;
  border-radius: 50%;
  font-size: 1.5em;
  padding: 0.5em 0.8em;
}

.color-options i {
  margin: 0.5em;
  font-size: 1.6em;
}

#blueColor i {
  color: #5DADEC;
  font-size: 1.8em;
}

#blueColor > button {
  color: #fff;
  background-color: #1DA1F2;
}

#tangerineColor i {
  color: #FFAD1F;
  font-size: 1.9em;
}

#tangerineColor > button {
  color: #fff;
  background-color: #FFAD1F;
}

#orangeColor > button {
  color: #fff;
  background-color: #F45D22;
}

#greenColor > button {
  color: #fff;
  background-color: #17BF63;
}

#ceriseColor > button {
  color: #fff;
  background-color: #E0245E;
}

#purpleColor > button {
  color: #fff;
  background-color: #794BC4;
}

.font-size-options {
  display: flex;
  justify-content: space-between;
}

.theme-options {
  display: flex;
  justify-content: space-between;
}

.theme-options > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 12em;
  height: 4em;
  border-radius: 0.2em;
  cursor: pointer;
}

.theme-options p {
  flex: 0.8;
  font-weight: 600;
  font-size: 1.1em;
  margin: 0;
  color: #fff;
}

.container {
  position: relative;
  left: 0;
  cursor: pointer;
  font-size: 1.5em;
  flex: 0;
}

.container input {
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: 0.4em;
  left: 0.4em;
	width: 1em;
	height: 1em;
  border: 0.15em solid #6B7D8C;
  border-radius: 50%;
}

.container input:checked ~ .checkmark {
  background-color: #1DA1F2;
  width: 1.1em;
	height: 1.1em;
  border: 0.15em solid #1DA1F2;
}

.checkmark:after {
  content: "\f00c";
  font-family: 'FontAwesome';
  position: absolute;
  display: none;
}

.container .checkmark:after {
  bottom: 0.1em;
	left: 0em;
	width: 1em;
	height: 1em;
  color: #fff;
  font-weight: 100;
  font-size: 0.8em;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

#defaultTheme {
  border: 0.2em solid #1DA1F2;
}

#defaultTheme > p {
  color: #000;
}

#dimTheme {
  background-color: #15202B;
}

#lightsOutTheme {
  background-color: #000;
}

.twitter-info {
  display: flex;
  justify-content: space-around;
  padding: 1em 1.5em;
}

.twitter-info .logo {
  background-color: #1DA1F2;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7em;
  height: 4em;
  border-radius: 2em;
}

.twitter-info .logo i {
  font-size: 2em;
}

.twitter-info div {
  font-size: 1.1em;
  margin-left: 1em;
}

.previous-button {
  display: none;
}

@media screen and (max-width: 768px) {
  .settings-page {
    left: 15.3%;
    display: block;
    border-right: 1px solid #E6ECF0;
  }

  .previous-button {
    display: inline;
  }

  .settings-page .headline {
    width: 74%;
  }

  #currentSection {
    display: none;
  }

  .section {
    width: 74%;
  }
}

@media screen and (max-width: 425px) {
  .settings-page {
    width: 100%;
    left: 0;
  }

  .settings-page .headline {
    width: 100%;
  }

  .settings-page .headline span {
    flex: 1;
    margin-left: 0;
  }

  .section {
    width: 100%;
  }

  .section-content {
    padding-bottom: 10em;
  }

  .accessibility-section .header span {
    font-size: 1.3em;
    margin: auto 0;
  }

  .color-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .color-options > div {
    margin: 0 auto;
    font-size: 0.9em;
  }

  .theme-options {
    display: block;
  }

  .theme-options > div {
    width: 100%;
    height: 5em;
    margin: 0.5em 0;
  }

  .twitter-info .logo {
    width: 10em;
  }
}

@media screen and (max-width: 375px) {
  .section {
    height: 5em;
    font-size: 0.9em;
  }

  .section span {
    margin: auto 0;
  }

  .section-content h3 {
    font-size: 1.3em;
  }

  .twitter-info .logo {
    width: 12em;
  }
}

@media screen and (max-width: 322px) {
  .twitter-info .logo {
    width: 15em;
  }
}
