.trending-pane {
  height: 100%;
  margin: 0 auto;
  width: 85%;
}

.search-input {
  width: 100%;
  height: 2.2em;
  padding-left: 2em;
  border: unset;
  border-radius: 2em;
  background-color: #E6ECF0;
  font-size: 1.4em;
}

.search-input::placeholder {
  color: #7C8C99;
}

.trending-tweets {
  margin-top: 2em;
  background-color: #EFF2F4;
  padding-top: 1em;
  border-radius: 1.5em;
  height: fit-content;
}

.trending-pane > i {
  position: relative;
  left: 1em;
  top: 2em;
  font-size: 1.2em;
  color: #7C8C99;
}

.trending-tweets > h4 {
  display: inline;
  font-weight: bold;
  font-size: 1.5em;
  padding: 0 0 0 1em;
}

.trending-tweets > button {
  float: right;
  margin-right: 1em;
  border: unset;
  height: 2.5em;
  width: 2.5em;
  border-radius: 1.2em;
  background-color: #EFF2F4;
  color: #1DA1F2;
}

.current-trend {
  width: 100%;
  margin: 1em 0 0 0;
  padding: 1em 0 0 1em;
  border-top: 2px solid #E6ECF0;
}

.current-trend p {
  margin: 0;
  color: #7C8C99;
}

.current-trend:last-child {
  border-bottom: none;
  padding-bottom: 1em;
}

.trend-modal {
  background-color: #fff;
  position: fixed;
  top: 3em;
  left: 25em;
  width: 45%;
  height: 75%;
  border-radius: 1em;
  z-index: 2;
}

.trend-modal > button {
  border: unset;
  font-size: 1.5em;
  color: #1da1f2;
  margin: 0.3em 1em 0.3em 0.5em;
  padding: 0.2em 0.6em;
  border-radius: 1em;
  background-color: #fff;
}

.trend-modal > button:hover {
  background-color: #F5FBFE;
}

.trend-modal > h4 {
  display: inline;
  font-weight: bold;
  font-size: 1.3em;
}

.set-location {
  border-top: 1px solid #e6ecf0;
  border-bottom: 15px solid #e6ecf0;
}

.trend-modal p {
  font-weight: 700;
  font-size: 1.3em;
  border-bottom: 1px solid #e6ecf0;
  padding: 0.4em 0 0.4em 1em;
}

.set-location > div {
  display: flex;
  justify-content: space-between;
  margin: 0 2em 0 1.5em;
}

.trend-modal input {
  transform: scale(1.5);
  cursor: pointer;
}

.set-trend > div {
  display: flex;
  justify-content: space-between;
  margin: 0 2em 0 1.5em;
}

.trend-modal small {
  display: block;
  padding: 0 0 0 1.8em;
  margin: 1em 0;
  color: #919ea9;
}

@media screen and (max-width: 768px) {
  .trending-pane {
    display: none;
  }
}
