.dim {
  background-color: #15202b;
  color: #fff;
}

.dim #logo > i {
  color: #fff;
}

.dim #logo:hover,
.dim .user-info:hover {
  background-color: #192734;
}

.dim .left-nav-content {
  border-right: 1px solid #38444D;
}

.dim .nav-button {
  color: #fff;
}

.dim .nav-button:hover,
.dim .dropdown-button:hover {
  background-color: #192734;
  color: #1DA1F2;
}

.dim .active {
  color: #1DA1F2;
}

.dim .overlay {
  background-color: #33445386;
}

.dim .tweet-modal-header > button {
  background-color: #15202b;
}

.dim .tweet-modal-header,
.dim .dropdown-button:nth-child(4) {
  border-bottom: 1px solid #38444D;
}

.dim .tweet-modal-header > button:hover {
  background-color: #192734;
}

.dim .tweet-modal {
  background-color: #15202b;
}

.dim .dropdown-content {
  background-color: #15202B;
  box-shadow: 0px 8px 16px 0px #fdf8f833;
}

.dim .dropdown-button {
  color: #fff;
}

.dim .dropdown-content i {
  color: #6d7d8a;
}

.dim .tweet-button {
  background-color: #19608E;
  color: #8A8F95;
}

.dim .enable {
  background-color: #1DA1F2;
  color: #fff;
}

.dim .home-page {
  border-right: 1px solid #38444D;
}

.dim .header,
.dim #header,
.dim .headline {
  background-color: #15202b;
  border-right: 1px solid #38444D;
  border-bottom: 1px solid #38444D;
}

.dim .home-page #tweetContainer {
  border-bottom: 10px solid #38444D;
}

.dim .search-input {
  background-color: #253341;
}

.dim .search-input::placeholder {
  color: #8fa1af;
}

.dim .trending-tweets,
.dim .trending-tweets > button {
  background-color: #1E2C39;
}

.dim .current-trend {
  border-top: 1px solid #38444D;
}

.dim .trend-modal,
.dim .trend-modal > button {
  background-color: #15202B;
}

.dim .set-location {
  border-top: 1px solid #38444D;
  border-bottom: 15px solid #38444D;
}

.dim .trend-modal p,
.dim .notification-page-content,
.dim #searchInputContainer {
  border-bottom: 1px solid #38444D;
}

.dim .section-content section:last-child {
  border-bottom: none;
}

.dim .explore-page,
.dim .notification-page {
  border-right: 1px solid #38444D;
}

.dim .explore-page-content > div {
  border-bottom: 1em solid #38444D;
}

.dim .explore-page-content .current-trend {
  border-top: 1px solid #38444D;
}

.dim .explore-page-content .current-trend:hover,
.dim .tweet-content-item:hover {
  background-color: #192734;
}

.dim .explore-page .header {
  border-left: 1px solid #38444D;
}

.dim .tweet-content-item,
.dim .notification-page-content > div {
  border-top: 1px solid #38444D;
}

.dim .notification-page-content > div:hover,
.dim .settings-page button:hover {
  background-color: #192734;
}

.dim .bookmarks-page,
.dim .lists-page,
.dim .profile-page {
  border-right: 1px solid #38444D;
}

.dim .lists-page-content > div {
  border-bottom: 0.7em solid #192734;
}

.dim .lists-page-content h4 {
  border-bottom: 1px solid #38444D;
}

.dim .list > p {
  border-bottom: 1px solid #38444D;
  color: #788895;
}

.dim .new-list-item {
  border-bottom: 1px solid #38444D;
}

.dim .profile-photo {
  background-color: #15202B;
}

.dim .user-bio span {
  color: #788895;
}

.dim .options-button {
  border-bottom: 1px solid #38444D;
  color: #788895;
}

.dim .edit-profile-modal,
.dim .comment-modal,
.dim .input-box {
  background-color: #15202B;
}

.dim .entry-box-container input,
.dim .entry-box-container > textarea {
  background-color: #15202B;
  border: 1px solid #38444D;
}

.dim .entry-box-container textarea::placeholder,
.dim .entry-box-container input::placeholder,
.dim .input-box::placeholder,
.dim #messageBox::placeholder {
  color: #788895;
}

.dim .tweet-item .tweet-content-item {
  border-bottom: 1px solid #38444D;
}

.dim .tweet-info > button,
.dim .tweet-person > button {
  color: #8fa1af;
}

.dim .tweet-info > button:hover {
  color: #1DA1F2;
}

.dim .tweet-info > button:nth-child(3):hover {
  color: #f11c00;
}

.dim .comment-page,
.dim .message-contact-page {
  border-right: 1px solid #38444D;
}

.dim .tweet-interaction > span,
#time {
  color: #8fa1af;
}

.dim .tweet-interaction strong {
  color: #fff;
}

.dim .tweet-interaction {
  border-top: 1px solid #38444D;
  border-bottom: 1px solid #38444D;
}

.dim .user-tweet-options {
  border-bottom: 1px solid #38444D;
  color: #8fa1af;
}

.dim .tweet-options {
  border-top: 1px solid #38444D;
}

.dim .comment-item {
  border-bottom: 1px solid #38444D;
}

.dim .message-page p {
  color: #8fa1af;
}

.dim .settings-page button,
.dim .section-content > div {
  border-bottom: 1px solid #38444D;
}

.dim .settings-page i {
  color: #8fa1af;
}

.dim .current-section {
  border-right: 0.15em solid #1DA1F2;
  background-color: #192734;
}

.dim .section-content {
  border-right: 1px solid #38444D;
  border-left: 1px solid #38444D;
}

.dim .section-content span {
  color: #8fa1af;
}

.dim .section-content section {
  border-bottom: 0.8em solid #192734;
}

.dim .more-options p {
  color: #fff;
}

.dim .more-options > div {
  border-bottom: 1px solid #38444D;
}

.dim .previous-button i {
  color: #1DA1F2;
}

.dim .logo i {
  color: #fff;
  background-color: #1DA1F2;
}

.dim #defaultTheme {
  border: none;
  background-color: #fff;
  color: #000;
}

.dim #dimTheme {
  border: 0.2em solid #1DA1F2;
}

.dim .display-modal {
  background-color: #15202b;
}

.dim .display-modal h3 {
  color: #8899A6;
}

.dim .tweet-dropdown {
  background-color: #15202b;
  box-shadow: 0.2em 0.2em 0.5em 0.5em #a5b0bb1c;
}

.dim .tweet-dropdown button {
  background-color: #15202b;
}

.dim .tweet-dropdown button:first-child,
.dim .chat-dropdown button:first-child {
  color: #e982a3;
}

.dim .tweet-dropdown button:hover {
  background-color: #192734;
}

.dim .delete-modal {
  background-color: #15202b;
}

.dim .delete-modal p {
  color: #588AA6;
}

.dim .cancel-button {
  background: #253341;
}

.dim .edit-tweet-modal {
  background-color: #15202b;
}

.dim .edit-tweet-modal #tweetContainer {
  border-bottom: none;
}

.dim .message-container {
  border-bottom: 1px solid #38444D;
}

.dim #messageBox {
  background-color: #253341;
}

.dim #sectionContent {
  border-right: 1px solid #38444D;
}

.dim .section-header {
  border: 0.1em solid #38444D;
  background-color: #15202b;
}

.dim .contact-list {
  border-bottom: 0.1em solid #38444D;
}

.dim .message-section .message {
  color: #fff;
}

.dim .message-options > p:hover {
  background-color: #192734;
}

.dim .contact-list:hover,
.dim .chat-dropdown button:hover {
  background-color: #192734;
}

.dim .chat-dropdown {
  background-color: #15202b;
  box-shadow: 0.2em 0.2em 0.5em 0.5em #a5b0bb1c;
}
