.message-page {
  position: absolute;
  left: 24.5%;
  width: 74%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.initial-message-section {
  position: absolute;
  top: 30%;
  left: 50%;
  text-align: center;
  font-size: 1.2em;
}

.message-contact-page {
  position: relative;
  top: 2.5em;
  border-right: 1px solid #E6ECF0;
  height: 100%;
  width: 29em;
}

.contact-list {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  padding: 1em 0;
  border-bottom: 0.1em solid #E6ECF0;
  cursor: pointer;
}

.contact-list:hover {
  background-color: #EBEEF0;
}

.contact-list > div {
  font-size: 1.1em;
}

.contact-list > img {
  margin-left: 1em;
  font-size: 0.9em;
}

.headline span {
  font-weight: 700;
  height: auto;
  font-size: 1.5em;
  margin: auto 1em;
}

.headline > button {
  color: #1DA1F2;
  font-size: 1.5em;
  margin: auto 1em;
}

.headline {
  display: flex;
  justify-content: space-between;
  position: fixed;
  margin-left: 0.3em;
  background-color: #fff;
  z-index: 1;
  width: 28.8em;
  height: 4em;
  border-bottom: 1px solid #C4CFD6;
  border-right: 1px solid #E6ECF0;
}

#searchInputContainer i {
  position: relative;
  left: 1.5em;
  top: 2em;
  font-size: 1.1em;
  color: #7C8C99;
}

#searchInputContainer {
  border-bottom: 1px solid #E6ECF0;
  padding: 1em;
}

#searchInputContainer .search-input {
  font-size: 1.1em;
  height: 2.7em;
  padding-left: 4em;
}

#messageInfo {
  font-size: 1.3em;
  text-align: center;
  padding-top: 2em;
}

.message-page p {
  color: #5B7083;
}

#messageInfo > p {
  font-size: 0.8em;
  padding: 0.8em;
}

.message-button {
  padding: 0 1em;
  height: 2.5em;
  color: #fff;
  background-color: #1DA1F2;
  border-radius: 1.5em;
  font-size: 0.8em;
  font-weight: 600;
}

.message-button:hover {
  background-color: #1a8acf;
}

.message-section {
  height: 100%;
  width: 95%;
}

.section-header {
  position: fixed;
  width: 40.2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0.1em solid #E6ECF0;
  background-color: #fff;
  z-index: 1;
  height: 4em;
}

.section-header > img {
  font-size: 0.7em;
  margin: 0 1em;
}

.section-header strong {
  font-size: 1.2em;
  flex: 0.7em;
}

.message-section > div:last-child {
  position: relative;
  top: 4em;
}

.message-container {
  position: fixed;
  width: 40em;
  height: 36em;
  max-height: 45em;
  overflow-y: scroll;
  padding: 1em;
  border-bottom: 1px solid #E6ECF0;
}

.message-section form {
  position: fixed;
  bottom: 0;
  width: 41.3em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 1em;
}

#messageBox {
  font-size: 1.1em;
  padding: 1em 2em 0;
  border: none;
  width: 75%;
  outline: none;
  resize: none;
  border-radius: 1.5em;
  line-height: 0.8em;
  background-color: #EBEEF0;
}

.message-section span {
  font-size: 1.6em;
  margin-right: 0.8em;
  color: #1DA1F2;
  cursor: pointer;
}

.smiley-icon {
  position: relative;
  right: 1.5em;
  font-size: 1.7em;
  cursor: pointer;
}

#sectionContent {
  position: relative;
  top: 4em;
  border-right: 1px solid #E6ECF0;
  height: 100%;
}

.message-item {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 1em;
  cursor: pointer;
}

.message-section .message {
  background-color: #1DA1F2;
  color: #fff;
  font-weight: 600;
  width: fit-content;
  border-radius: 1em 1em 0 1em;
  padding: 0.9em;
  max-width: 25em;
  word-wrap: break-word;
  height: auto;
  margin: 0;
}

.message-time {
  float: right;
  color: #9aad88;
}

.message-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.message-options {
  visibility: hidden;
  margin-right: 0.5em;
}

.message-options > p {
  display: inline;
  font-size: 1.7em;
  padding: 0.5em;
  border-radius: 1.5em;
  vertical-align: middle;
}

.message-options > p:hover {
  background-color: #E8F5FE;
}

.message-section .message:hover {
  background-color: #2d91cf;
}

.send-button {
  pointer-events: none;
  color: #1DA1F2;
  margin-right: 0.8em;
  opacity: 0.5;
}

.allow {
  pointer-events: auto;
  opacity: 1;
}

#current {
  border-right: 0.2em solid #1DA1F2;
}

.chat-dropdown {
  background-color: #ffffff;
  position: absolute;
  right: 20%;
  width: 10em;
  height: auto;
  z-index: 2;
  border-radius: 0.5em;
  box-shadow: 0.2em 0.2em 0.5em 0.5em #e4e7eaca;
}

.chat-dropdown button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 3.5em;
}

.chat-dropdown i {
  font-size: 1.3em;
}

.chat-dropdown button:first-child {
  color: #E0245E;
}

.chat-dropdown button:hover {
  background-color: #F7F7F7;
}

@media screen and (max-width: 1024px) {
  .headline {
    width: 22em;
    border-left: 1px solid #E6ECF0;
  }

  .message-page {
    left: 25.2%;
  }

  .initial-message-section {
    text-align: center;
    font-size: 1.2em;
    margin: auto;
    padding: 0 1em;
  }
}

@media screen and (max-width: 768px) {
  .message-page {
    left: 15%;
    display: block;
    border-right: 1px solid #E6ECF0;
  }

  .headline {
    width: 73.5%;
  }

  .current-message-section {
    display: none;
  }

  .message-contact-page {
    width: 100%;
  }

  .contact-list {
    grid-template-columns: 0.2fr 1fr;
    padding: 1em;
  }

  .section-header {
    width: 40.6em;
  }

  .section-header .previous-button {
    color: #1DA1F2;
    margin: 1em;
  }
}

@media screen and (max-width: 425px) {
  .message-page {
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 15em;
  }

  .headline {
    width: 100%;
    left: 0;
  }

  .contact-list {
    grid-template-columns: 0.2fr 0.8fr;
    padding: 1em 0;
  }

  .contact-list:last-child {
    padding-bottom: 8em;
  }

  .message-section form {
    width: 100%;
    height: 5em;
    background-color: #fff;
  }

  .message-container {
    width: 100%;
  }

  .message-item:last-child {
    margin-bottom: 8em;
  }
}
