.message-page {
  position: absolute;
  left: 24.5%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.message-pane {
  text-align: center;
  font-size: 1.2em;
  margin: auto;
}

.page-core {
  position: relative;
  top: 2.5em;
  border-right: 1px solid #E6ECF0;
  height: 100%;
}

.headline span {
  font-weight: 700;
  height: auto;
  font-size: 1.5em;
  margin: auto 1em;
}

.headline > button {
  color: #1DA1F2;
  font-size: 1.5em;
  margin: auto 1em;
}

.headline {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #fff;
  z-index: 1;
  width: 29em;
  height: 4em;
  border-bottom: 1px solid #C4CFD6;
  border-right: 1px solid #E6ECF0;
}

#searchInputContainer i {
  position: relative;
  left: 1.5em;
  top: 2em;
  font-size: 1.1em;
  color: #7C8C99;
}

#searchInputContainer {
  border-bottom: 1px solid #E6ECF0;
  padding: 1em;
}

#searchInputContainer .search-input {
  font-size: 1.1em;
  height: 2.7em;
  padding-left: 4em;
}

#messageInfo {
  font-size: 1.3em;
  text-align: center;
  padding-top: 2em;
}

.message-page p {
  color: #5B7083;
}

#messageInfo > p {
  font-size: 0.8em;
  padding: 0.8em;
}

.message-button {
  padding: 0 1em;
  height: 2.5em;
  color: #fff;
  background-color: #1DA1F2;
  border-radius: 1.5em;
  font-size: 0.8em;
  font-weight: 600;
}

.message-button:hover {
  background-color: #1a8acf;
}

@media screen and (max-width: 1024px) {
  .headline {
    width: 22em;
    border-left: 1px solid #E6ECF0;
  }

  .message-page {
    left: 25.2%;
  }

  .message-pane {
    text-align: center;
    font-size: 1.2em;
    margin: auto;
    padding: 0 1em;
  }
}

@media screen and (max-width: 768px) {
  .message-page {
    left: 15.3%;
  }

  .headline {
    width: 18.6em;
  }
}

@media screen and (max-width: 425px) {
  .message-page {
    left: 0;
    display: block;
  }

  .headline {
    width: 100%;
  }

  .message-pane {
    display: none;
  }
}
